In [1]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import mean_absolute_error, make_scorer

from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor


from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import StandardScaler

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import ElasticNetCV

import sklearn
from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import MinMaxScaler

In [2]:
Cars = pd.read_csv("data/cars2.csv")
Cars

,Brand,Model,Year,EngineSize,Mileage,Transmission,FuelType,Price
0,Vauxhall,Mokka X,2017.0,1.4,22832,Manual,Petrol,11498
1,BMW,X5,2014.0,3.0,97000,Automatic,Diesel,18990
2,Vauxhall,Mokka X,2018.0,1.4,11457,Manual,Petrol,10954
3,Mercedes,C Class,2013.0,2.1,57801,Automatic,Diesel,9700
4,Volkswagen,Golf,2015.0,1.4,28379,Manual,Petrol,10898
...,...,...,...,...,...,...,...,...
29295,Ford,Kuga,2016.0,2.0,53930,Automatic,Diesel,13487
29296,Volkswagen,Tiguan,2019.0,2.0,12614,Automatic,Diesel,24999
29297,Mercedes,C Class,2019.0,1.6,50,Automatic,Diesel,37321
29298,Ford,Focus,2019.0,1.0,3788,Manual,Petrol,16990
29299,Vauxhall,Grandland X,2019.0,1.5,2543,Automatic,Diesel,28991

In [3]:
Cars.dtypes

Brand            object
Model            object
Year            float64
EngineSize      float64
Mileage          object
Transmission     object
FuelType         object
Price            object
dtype: object

In [4]:
Cars_dum = pd.get_dummies(Cars)

In [5]:
Cars_dum

,Year,EngineSize,Brand_Audi,Brand_BMW,Brand_Ford,Brand_Hyundai,Brand_Mercedes,Brand_Skoda,Brand_Toyota,Brand_Vauxhall,...,Price_9990,Price_9991,Price_9992,Price_9994,Price_9995,Price_99950,Price_9996,Price_9997,Price_9998,Price_9999
0,2017.0,1.4,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2014.0,3.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2018.0,1.4,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2013.0,2.1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2015.0,1.4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29295,2016.0,2.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29296,2019.0,2.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29297,2019.0,1.6,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29298,2019.0,1.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29299,2019.0,1.5,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
matrix = Cars_dum.corr()

In [ ]:
plt.figure(figsize = (16, 10))
sns.heatmap(Cars_dum.corr(), annot = True, cmap="YlGnBu")
plt.show()

In [ ]:
scaler = MinMaxScaler()