In [6]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import mean_absolute_error, make_scorer

from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor


from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import StandardScaler

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import ElasticNetCV

import sklearn
from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import MinMaxScaler

In [7]:
Cars = pd.read_csv("data/cars.csv")
Cars

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Brand,Model,Year,EngineSize,Mileage,Transmission,FuelType,Price
0,Audi,A1,2017.0,1.4,15735,Manual,Petrol,12500
1,Audi,A6,2016.0,2.0,36203,Automatic,Diesel,16500
2,Audi,A1,2016.0,1.4,29946,Manual,Petrol,11000
3,Audi,A4,2017.0,2.0,25952,Automatic,Diesel,16800
4,Audi,A3,2019.0,1.0,1998,Manual,Petrol,17300
...,...,...,...,...,...,...,...,...
97662,Ford,Focus,2019.0,1.0,"10,552",Manual,Petrol,"15,645"
97663,Ford,Focus,2002.0,1.6,"101,000",Manual,Petrol,795
97664,Ford,Focus,2019.0,1.5,"12,086",Manual,Diesel,"17,155"
97665,Ford,Focus,2009.0,1.6,"97,498",Manual,Petrol,"1,995"
97666,Ford,Focus,2019.0,1.0,"13,815",Automatic,Petrol,"17,450"

In [8]:
Cars.dtypes

Brand            object
Model            object
Year            float64
EngineSize      float64
Mileage          object
Transmission     object
FuelType         object
Price            object
dtype: object

In [20]:
Cars = Cars.drop(columns='Model')

In [21]:
Cars = Cars.sample(frac=.4)

In [22]:
Cars

            Brand    Year  EngineSize Mileage Transmission FuelType  Price
11583         BMW  2019.0         2.0    9027    Semi-Auto   Diesel  26480
6275         Ford  2018.0         1.5   15664       Manual   Diesel  14450
27279        Ford  2019.0         1.5    9397       Manual   Diesel  17400
5185         Ford  2015.0         1.2   34000       Manual   Petrol   5490
19279    Mercedes  2019.0         2.0    9882    Semi-Auto   Diesel  24581
...           ...     ...         ...     ...          ...      ...    ...
2735       Toyota  2014.0         1.0   37972       Manual   Petrol   5799
22126    Vauxhall  2017.0         1.4   10041       Manual   Petrol   7695
17619      Toyota  2014.0         1.8   31956    Automatic   Hybrid  11288
27463  Volkswagen  2016.0         1.2   31128       Manual   Petrol   8399
18881      Toyota  2017.0         1.0   10687       Manual   Petrol   8550

[11720 rows x 7 columns]

In [23]:
Cars.dtypes

Brand            object
Year            float64
EngineSize      float64
Mileage          object
Transmission     object
FuelType         object
Price            object
dtype: object

In [24]:
Cars_dum = pd.get_dummies(Cars)

In [25]:
Cars_dum

,Year,EngineSize,Brand_Audi,Brand_BMW,Brand_Ford,Brand_Hyundai,Brand_Mercedes,Brand_Skoda,Brand_Toyota,Brand_Vauxhall,...,Price_9989,Price_9990,Price_9991,Price_9992,Price_9994,Price_9995,Price_9996,Price_9997,Price_9998,Price_9999
11583,2019.0,2.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6275,2018.0,1.5,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27279,2019.0,1.5,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5185,2015.0,1.2,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19279,2019.0,2.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2735,2014.0,1.0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
22126,2017.0,1.4,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
17619,2014.0,1.8,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
27463,2016.0,1.2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18881,2017.0,1.0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
matrix = Cars_dum.corr()

In [ ]:
plt.figure(figsize = (16, 10))
sns.heatmap(Cars_dum.corr(), annot = True, cmap="YlGnBu")
plt.show()

In [ ]:
scaler = MinMaxScaler()