In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np

# Import Data

First I import the data and print the shape and head to have a visual of what it looks like.

In [2]:
Audi = pd.read_csv("../desktop/ironhack/Cars/audi.csv", encoding="latin1")
print("Audi shape:",Audi.shape)
print(Audi.head(2))

Audi shape: (10668, 9)
  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0

In [3]:
BMW = pd.read_csv("../desktop/ironhack/Cars/bmw.csv", encoding="latin1")
print("BMW shape:", BMW.shape)
print(BMW.head(2))

BMW shape: (10781, 9)
      model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0  5 Series  2014  11200    Automatic    67068   Diesel  125  57.6         2.0
1  6 Series  2018  27000    Automatic    14827   Petrol  145  42.8         2.0

In [4]:
Ford = pd.read_csv("../desktop/ironhack/Cars/ford.csv", encoding="latin1")
print("Ford shape:",Ford.shape)
print(Ford.head(2))

Ford shape: (17965, 9)
     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0

In [5]:
Toyota = pd.read_csv("../desktop/ironhack/Cars/toyota.csv", encoding="latin1")
print("Toyota shape:", Toyota.shape)
print(Toyota.head(2))

Toyota shape: (6738, 9)
  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0  GT86  2016  16000       Manual    24089   Petrol  265  36.2         2.0
1  GT86  2017  15995       Manual    18615   Petrol  145  36.2         2.0

In [6]:
Hyundai = pd.read_csv("../desktop/ironhack/Cars/hyundai.csv", encoding="latin1")
print("Hyundai shape:",Hyundai.shape)
print(Hyundai.head(2))

Hyundai shape: (4860, 9)
     model  year  price transmission  mileage fuelType  tax(Â£)   mpg  \
0      I20  2017   7999       Manual    17307   Petrol      145  58.9
1   Tucson  2016  14499    Automatic    25233   Diesel      235  43.5

   engineSize
0         1.2
1         2.0

In [7]:
Mercedes = pd.read_csv("../desktop/ironhack/Cars/mercedes.csv", encoding="latin1")
print("Mercedes shape:", Mercedes.shape)
print(Mercedes.head(2))

Mercedes shape: (13119, 9)
      model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0       SLK  2005   5200    Automatic    63000   Petrol  325  32.1         1.8
1   S Class  2017  34948    Automatic    27000   Hybrid   20  61.4         2.1

In [8]:
Skoda = pd.read_csv("../desktop/ironhack/Cars/skoda.csv", encoding="latin1")
print("Skoda shape", Skoda.shape)
print(Skoda.head(2))

Skoda shape (6267, 9)
      model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Octavia  2017  10550       Manual    25250   Petrol  150  54.3         1.4
1    Citigo  2018   8200       Manual     1264   Petrol  145  67.3         1.0

In [9]:
Vauxhall = pd.read_csv("../desktop/ironhack/Cars/vauxhall.csv", encoding="latin1")
print("Vauxhall shape:",Vauxhall.shape)
print(Vauxhall.head(2))

Vauxhall shape: (13632, 9)
    model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Corsa  2018   7885       Manual     9876   Petrol  145  55.4         1.4
1   Corsa  2019  11995       Manual     2500   Petrol  145  54.3         1.4

In [10]:
Volkswagen = pd.read_csv("../desktop/ironhack/Cars/Volkswagen.csv", encoding="latin1")
print("Volkswagen shape:", Volkswagen.shape)
print(Volkswagen.head(2))

Volkswagen shape: (15157, 9)
    model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   T-Roc  2019  25000    Automatic    13904   Diesel  145  49.6         2.0
1   T-Roc  2019  26883    Automatic     4562   Diesel  145  49.6         2.0

I have a data sets labeled "unclean_focus". I will look at it and see if has any use.

In [11]:
unclean_focus = pd.read_csv("../desktop/ironhack/Cars/unclean focus.csv", encoding="latin1")
print(unclean_focus.shape)
print(unclean_focus.head(2))

(5604, 11)
    model    year      price transmission mileage fuel type engine size  \
0   Focus  2016.0    Â£8,000       Manual     NaN    Petrol       0.999
1   Focus  2019.0   Â£13,400       Manual     NaN    Petrol       0.999

  mileage2 fuel type2 engine size2     reference
0   38,852        NaN          NaN  /ad/25451236
1   11,952        NaN          NaN  /ad/25466927

# Cleaning

The Ford Focus is a very popular car in the UK, so I will clean the data to use it.

In [12]:
unclean_focus.head()

,model,year,price,transmission,mileage,fuel type,engine size,mileage2,fuel type2,engine size2,reference
0,Focus,2016.0,"Â£8,000",Manual,NaN,Petrol,0.999,"38,852",NaN,NaN,/ad/25451236
1,Focus,2019.0,"Â£13,400",Manual,NaN,Petrol,0.999,"11,952",NaN,NaN,/ad/25466927
2,Focus,2019.0,"Â£14,600",Manual,NaN,Petrol,1.498,"22,142",NaN,NaN,/ad/25484363
3,Focus,2016.0,"Â£9,450",Manual,NaN,Diesel,1.56,"14,549",NaN,NaN,/ad/20444868
4,Focus,2015.0,"Â£9,999",Manual,NaN,Diesel,1.56,"7,010",NaN,NaN,/ad/22551057

In [13]:
unclean_focus['mileage'].unique()

array([nan, '13,255', '42,112', ..., '21,215', '1,478', '9,137'],
      dtype=object)

In [14]:
unclean_focus['mileage2'].unique()[:10]

array(['38,852', '11,952', '22,142', '14,549', '7,010', '26,796',
       '16,128', '4,900', '30,953', '3,000'], dtype=object)

In [15]:
unclean_focus = unclean_focus.drop(columns=['mileage','fuel type2', 'engine size2', 'reference'])

In [16]:
unclean_focus.head()

    model    year      price transmission fuel type engine size mileage2
0   Focus  2016.0    Â£8,000       Manual    Petrol       0.999   38,852
1   Focus  2019.0   Â£13,400       Manual    Petrol       0.999   11,952
2   Focus  2019.0   Â£14,600       Manual    Petrol       1.498   22,142
3   Focus  2016.0    Â£9,450       Manual    Diesel        1.56   14,549
4   Focus  2015.0    Â£9,999       Manual    Diesel        1.56    7,010

In [17]:
print("model:",unclean_focus['model'].unique())
print("year:",unclean_focus['year'].unique())
print("price:",unclean_focus['price'].unique())
print("transmission:",unclean_focus['transmission'].unique())
print("fuel type",unclean_focus['fuel type'].unique())
print("engine size:",unclean_focus['engine size'].unique())
print("mileage:",unclean_focus['mileage2'].unique())

model: [' Focus' nan]
year: [2016. 2019. 2015. 2018. 2020. 2017. 2013. 2009. 2011. 2014.   nan 2012.
 2008. 2006. 2010. 2007. 2003. 2005. 2002.]
price: [' Â£8,000' ' Â£13,400' ' Â£14,600' ... ' Â£6,494' ' Â£8,200' ' Â£17,799']
transmission: ['Manual' 'Automatic' 'Semi-Auto' nan]
fuel type ['Petrol' 'Diesel' nan '11' '14' '26' '12' '24' '10' '13' '15' '33' '36'
 '35' '16' '22' '40' '8' '21' '9' '20' '7' '19' '34' '18' '25' '17' '31'
 '38' '6']
engine size: ['0.999' '1.498' '1.56' '999' '1000' '2300' '1498' '1.5' 'Â£145' 'Â£20'
 'Â£0' 'Â£165' 'Â£150' 'Â£125' '2' '1' 'Â£30' 'Â£205' '2.3' 'Â£235'
 'Â£160' 'Â£145  ' 'Â£150  ' 'Â£200' 'Â£240' nan 'Â£260' 'Â£120' 'Â£140'
 '1596' '1499' 'Â£300' 'Â£195' 'Â£325' '1999' '1.6' '1560' 'Â£190' 'Â£265'
 'Â£330' 'Â£155' 'Â£230' ' 2,00 cc']
mileage: ['38,852' '11,952' '22,142' '14,549' '7,010' '26,796' '16,128' '4,900'
 '30,953' '3,000' '57.7' '61.4' '74.3' '44.8' '80.7' '60.1' '67.3' '51.4'
 '8,879' '4,698' '16,199' '3,212' '8,201' '13,471' '12,372' '11,535'
 '2,219' '10,230' '201' '48,961' '13,516' '23,500' '12,395' '4,984'
 '6,393' '12,198' '50.4' '46.3' '9,439' '9,943' '8,188' '10,589' '15,272'
 '13,789' '3,655' '7,555' '13,737' '13,706' '7,426' '11,594' '12,119'
 '13,762' '12,811' '13,797' '11,645' '13,545' '6,428' '10,370' '53,130'
 '29,705' '5,367' '4,855' '100' '9,022' '19,785' '57,029' '64.2' '42.2'
 '65,000' '41,495' '11,382' '25,519' '17,339' '8,566' '7,846' '4,711'
 '12,877' '7,021' '13,752' '10,805' '11,883' '11,536' '12,677' '12,062'
 '11,834' '974' '2,950' '3,796' '3,230' '13,240' '14,410' '10,503'
 '12,624' '9,675' '7,590' '7,358' '13,816' '10,472' '10,960' '15,238'
 '12,456' '47.9' '40.4' '6,108' '2,712' '1,904' '3,003' '41.5' '22,587'
 '19,834' '32,746' '9,137' '11,427' '14,021' '10,874' '13,931' '11,291'
 '12,503' '11,939' '8,919' '1,725' '825' '56.5' '36.7' '58.9' '40.9'
 '54.3' '49.6' '39.2' '70.6' '48.7' '34.5' '42.8' '53.3' '62.8' '83.1'
 '57.6' '44.1' '9,000' '45.6' '48,425' '76.4' nan '55.4' '39.8' '47.1'
 '11,130' '29,201' '71,000' '13,445' '27,400' '40,041' '34.9' '37.7'
 '20,850' '30.4' '26,000' '8,235' '83,000' '45,760' '44,646' '46,319'
 '54,894' '30,212' '12,914' '17,105' '15,506' '23,361' '10,788' '48,818'
 '52,000' '55,090' '28,258' '24,717' '30,000' '26.3' '37.1' '31' '6,928'
 '451' '1,073' '2,804' '1,494' '12,592' '9,651' '8,864' '824' '4,483'
 '14,608' '6,797' '8,418' '4,677' '5,002' '7,937' '13,733' '6,447' '6,348'
 '5,662' '3,024' '2,992' '7,111' '42.1' '30.1' '54.2' '1,577' '534'
 '10,045' '12,627' '7,855' '13,891' '13,376' '7,886' '13,774' '9,929'
 '12,168' '7,529' '2,532' '9,068' '1,523' '13,452' '12,820' '10,552'
 '90,000' '101,000' '12,086' '59,000' '77,368' '97,498' '13,815']

In [18]:
for col in unclean_focus.columns:
    pct_missing = np.mean(unclean_focus[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

model - 1%
year - 3%
price - 1%
transmission - 1%
fuel type - 61%
engine size - 2%
mileage2 - 2%

There are a lot of missing values in fuel type, 61%, because it is an important factor in the price of a car, I will not drop the column, but I will drop the rows with the missing values.

In [19]:
unclean_focus.isnull().sum()

model             56
year             145
price             56
transmission      56
fuel type       3416
engine size      101
mileage2          95
dtype: int64

In [20]:
unclean_focus = unclean_focus.dropna()

In [21]:
unclean_focus.isnull().sum()

model           0
year            0
price           0
transmission    0
fuel type       0
engine size     0
mileage2        0
dtype: int64

In [22]:
unclean_focus['price'] = unclean_focus['price'].str.replace(r'\Â', '')
unclean_focus['price'] = unclean_focus['price'].str.replace(r'\£', '')
unclean_focus['engine size'] = unclean_focus['engine size'].str.replace(r'\Â', '')
unclean_focus['engine size'] = unclean_focus['engine size'].str.replace(r'\£', '')

<ipython-input-22-90a36d529bdb>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  unclean_focus['price'] = unclean_focus['price'].str.replace(r'\Â', '')
<ipython-input-22-90a36d529bdb>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  unclean_focus['price'] = unclean_focus['price'].str.replace(r'\£', '')
<ipython-input-22-90a36d529bdb>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  unclean_focus['engine size'] = unclean_focus['engine size'].str.replace(r'\Â', '')
<ipython-input-22-90a36d529bdb>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  unclean_focus['engine size'] = unclean_focus['engine size'].str.replace(r'\£', '')

In [23]:
clean_focus = unclean_focus
clean_focus

       model    year    price transmission fuel type engine size mileage2
0      Focus  2016.0    8,000       Manual    Petrol       0.999   38,852
1      Focus  2019.0   13,400       Manual    Petrol       0.999   11,952
2      Focus  2019.0   14,600       Manual    Petrol       1.498   22,142
3      Focus  2016.0    9,450       Manual    Diesel        1.56   14,549
4      Focus  2015.0    9,999       Manual    Diesel        1.56    7,010
...      ...     ...      ...          ...       ...         ...      ...
5599   Focus  2019.0   18,745       Manual    Diesel           2    7,855
5600   Focus  2019.0   16,350       Manual    Petrol           1   13,891
5601   Focus  2019.0   16,850       Manual    Petrol           1   13,452
5602   Focus  2019.0   17,310    Automatic    Petrol           1   13,376
5603   Focus  2019.0   17,610    Automatic    Petrol           1    7,886

[2124 rows x 7 columns]

At the start the data set had 5604 rows and 11 columns, now that it is clean it has 2124 rows and 7 columns.